*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;}


body {
    background-image: url("mus.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;}

 div { color: #FFFFFF   }
 
 h1 {
	text-shadow: 3px 2px black;
	font-size: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 60px;}


ul{
	list-style-type: none;
	float: right;
	margin: 25px;}

ul li{ 
display: inline-block; }

ul li a{
	text-decoration: none;
	color: #FFF;
	padding: 5px 20px;
	border: 1px solid transparent;
transition: 0.6s ease;}

ul li a:hover{
	background-color: #FFF;
	color: black;}

ul li.active a{
	background-color: #FFF;
	color: #000;}

.logo img{
	float: left;
	width: 150px;
	height: auto;}

.main{
	max-width: 1200px;
	margin: auto;}

.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);}

.btn{
	border: 1px solid#FFF;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease}

.btn:hover{
	background-color: #FFF;
	color: black;
}

img{ 
float: left;
align-content: center;
max-width: 50%;
 }

 .app {
    display: -webkit-flex;
    display: flex;
}


.pic{
	margin: 10px;
	width: 1000px;
	height: 100px;
}